set $mod Mod4

font pango:Ubuntu Mono, Roboto Mono 10
# Before i3 v4.8, we used to recommend this one as the default:
# font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec i3-sensible-terminal

# kill focused window
bindsym $mod+q kill
bindsym $mod+Shift+q exec xkill

# start dmenu (a program launcher)
bindsym $mod+d exec dmenu_run

# change focus
bindsym $mod+j focus left
bindsym $mod+k focus down
bindsym $mod+l focus up
bindsym $mod+semicolon focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+j move left
bindsym $mod+Shift+k move down
bindsym $mod+Shift+l move up
bindsym $mod+Shift+semicolon move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen

# change container layout (stacked, tabbed, toggle split)
#bindsym $mod+s layout stacking
#bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
#bindsym $mod+space focus mode_toggle

# focus the parent container
#bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
# bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym j resize shrink width 10 px or 10 ppt
        bindsym k resize grow height 10 px or 10 ppt
        bindsym l resize shrink height 10 px or 10 ppt
        bindsym semicolon resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# ceeriously styled i3
set $bg     #2f343f
set $fg     #404552
set $hi     #fce94f
set $ac     #4084d6
set $tx     #2d323d
set $ia     #9e9e9e
set $be     #8faf9f
set $yw     #f8f893
set $gn     #81c181
set $rd     #bf9b76
set $id     #f9f8ff
set $ce     #ceecee
set $sl     #7f7f7f

# set some nice colors      border  background  text    indicator
client.focused              $ac     $ac         $id     $gn
client.unfocused            $bg     $bg         $ia     $bg
client.focused_inactive     $bg     $bg         $id     $bg
client.urgent               $ac     $ac         $yw     $ac

bar {
#   statusbar colors       border      background   text
    colors {
        background          $bg
        statusline          $id
        separator           $ce
        focused_workspace   $ac        $ac        $id
        active_workspace    $ce        $ac        $tx
        inactive_workspace  $bg        $fg        $ia
        urgent_workspace    $yw        $bg        $yw
    }

  position top
  font pango:Ubuntu Mono, Roboto Mono, FontAwesome 10
  status_command i3status -c ~/.dotfiles/i3status.config
}

set $asd "Chromium Apps (Y)ouTube, (P)lex, (T)ransmission, (S)onarr, (D)iscord, T(e)legram, (9)anime.tv, (G)loboplay, (R)editr, (f)ast.com, (K)eep"
bindsym $mod+c mode $asd
mode $asd {
        # cat ~/.local/share/applications/chrome-* | grep "Name\|Exec"

        bindsym y exec --no-startup-id /usr/bin/chromium-browser --profile-directory=Default --app-id=adnlfjpnmidfimlkaohpidplnoimahfh
        bindsym p exec --no-startup-id /usr/bin/chromium-browser --profile-directory=Default --app-id=amfkemaodmghlnknncknfhcmmiclmbpa
        bindsym t exec --no-startup-id /usr/bin/chromium-browser --profile-directory=Default --app-id=dgdkkfgfiheogcjfmdajiebhbcchnelg
        bindsym f exec --no-startup-id /usr/bin/chromium-browser --profile-directory=Default --app-id=eflhinbjimfemgbkpgkdpdhmkngdoidh
        bindsym d exec --no-startup-id /usr/bin/chromium-browser --profile-directory=Default --app-id=gnjnklpjdjebijhmeplhdgbpcpnmndpn
        bindsym e exec --no-startup-id /usr/bin/chromium-browser --profile-directory=Default --app-id=hadgilakbfohcfcgfbioeeehgpkopaga
        bindsym k exec --no-startup-id /usr/bin/chromium-browser --profile-directory=Default --app-id=hmjkmjkepdijhoojdojkdfohbdgmmhki
        bindsym g exec --no-startup-id /usr/bin/chromium-browser --profile-directory=Default --app-id=jhpgohmcgnecplgfdlkhdnjoooeddbik
        bindsym s exec --no-startup-id /usr/bin/chromium-browser --profile-directory=Default --app-id=nobdlibljcpdofelbcegcmokiafickjl
        bindsym 9 exec --no-startup-id /usr/bin/chromium-browser --profile-directory=Default --app-id=pgcbhpaihgppbpfmhjdpfdnlpgnjbpoh
        bindsym r exec --no-startup-id /usr/bin/chromium-browser --profile-directory=Default --app-id=pmfcbbijgnhoebddbjpmlikabnbnddgb

        bindsym Return mode "default"
        bindsym Escape mode "default"
}

set $emode "(r)eboot (p)oweroff (e)xit-i3"
bindsym $mod+Shift+e mode $emode
mode $emode {
        bindsym p exec systemctl poweroff; mode "default"
        bindsym r exec systemctl reboot; mode "default"
        bindsym e exec --no-startup-id i3-msg exit; mode "default"
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

# scratchpad
bindsym $mod+minus scratchpad show
bindsym $mod+Shift+minus move scratchpad

exec_always --no-startup-id ~/.fehbg
exec --no-startup-id parcellite
exec --no-startup-id lxterminal --title hello --geometry=65x19 # -e ~/.screenfetch
#exec gnome-text-editor --title floatr --hide-menubar

for_window [class="floatr"] floating enable
for_window [title="hello"] floating enable
for_window [title="Page(s) Unresponsive"] floating enable
for_window [title="Page Unresponsive"] floating enable

bindsym $mod+space exec --no-startup-id j4-dmenu-desktop --dmenu="dmenu -i -f -p ' >' -l 35 -fn 'Ubuntu-12'" --term="gnome-terminal" --display-binary
bindsym $mod+m exec --no-startup-id lxkeymap
bindsym $mod+x exec --no-startup-id xlinks2
bindsym $mod+n exec --no-startup-id chromium-browser
bindsym $mod+Shift+n exec --no-startup-id chromium-browser --incognito
bindsym $mod+z exec --no-startup-id "gnome-text-editor ~/.i3/config"
bindsym $mod+t exec --no-startup-id gnome-terminal.wrapper
bindsym $mod+Shift+z exec --no-startup-id lxterminal --title hello -e ~/.screenfetch
bindsym $mod+p exec --no-startup-id gksu pi-packages
